@font-face {
  font-family: 'sf-pro';
  src: url("../San-Francisco-Pro-Fonts-master/SF-Pro-Display-Black.otf") format(truetype); }
body {
  margin: 0;
  padding: 0;
  font-family: 'sf-pro', sans-serif; }

.section-1 .title {
  font-size: 400%;
  line-height: 60px; }
  .section-1 .title .first {
    color: #BDBDBD; }
.section-1 .strelka {
  display: flex;
  margin-top: 50px; }
  .section-1 .strelka .carousel-control-prev, .section-1 .strelka .carousel-control-next {
    position: static !important;
    width: 43px !important;
    height: 43px;
    background-color: #f9f9f9 !important;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    margin-right: 20px; }
.section-1 .carousel .carousel-inner img {
  height: 550px; }
.section-1 .carousel .carousel-control-next {
  position: absolute !important;
  width: 150px !important;
  height: 40px !important;
  background-color: white !important;
  top: auto !important;
  bottom: 0 !important;
  left: 0 !important;
  opacity: 1 !important; }

.section-4 .img1, .section-4 .img2, .section-4 .img3, .section-4 .img4, .section-4 .img5 {
  width: 100%;
  height: 255px;
  display: flex;
  align-items: center;
  overflow: hidden; }
  .section-4 .img1 .content, .section-4 .img2 .content, .section-4 .img3 .content, .section-4 .img4 .content, .section-4 .img5 .content {
    padding: 50px;
    box-sizing: border-box;
    color: #ffffff;
    transform: translateY(-300px);
    height: 100% !important;
    width: 100%;
    transition: 1s; }
  .section-4 .img1:hover .content, .section-4 .img2:hover .content, .section-4 .img3:hover .content, .section-4 .img4:hover .content, .section-4 .img5:hover .content {
    transform: translateY(0px);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); }
.section-4 .img1 {
  background: url("../img/Rectangle 12.png"); }
.section-4 .img2 {
  background: url("../img/image 15.png"); }
.section-4 .img3 {
  background: url("../img/image 16.png");
  background-repeat: no-repeat; }
  .section-4 .img3 .content {
    padding: 20px; }
    .section-4 .img3 .content .text {
      font-size: 30px !important; }
.section-4 .img4 {
  background: url("../img/image 17.png"); }
.section-4 .img5 {
  background: url("../img/image 18.png");
  background-repeat: no-repeat; }
.section-4 .btnn {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #333333; }

@media (max-width: 768px) {
  .section-2 .title {
    margin-top: 50px; }

  .section-4 .img2, .section-4 .img4, .section-4 .img5 {
    margin-top: 30px; } }
.section-5 form input, .section-5 form textarea {
  width: 100%;
  background: #f3f3f3;
  border: none;
  outline: none;
  margin-bottom: 12px;
  padding: 10px;
  padding-left: 20px; }
.section-5 .btnn {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #333333;
  outline: none;
  border: none; }

@media (max-width: 768px) {
  .section-5 .none-to-mobaile {
    display: none; } }
footer {
  background: #2c2c2c; }
  footer ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400; }
  footer ul li div {
    color: #ffffff; }

@media (max-width: 768px) {
  footer .col-sm-6 {
    margin-top: 30px; } }

/*# sourceMappingURL=style.css.map */
